# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

urban_ride_count = urban_cities_df.groupby(["type"]).count()["ride_id"]

suburban_ride_count = suburban_cities_df.groupby(["type"]).count()["ride_id"]

rural_ride_count = rural_cities_df.groupby(["type"]).count()["ride_id"]

print(urban_ride_count)
print(suburban_ride_count)
print(rural_ride_count)

type
Urban    1625
Name: ride_id, dtype: int64
type
Suburban    625
Name: ride_id, dtype: int64
type
Rural    125
Name: ride_id, dtype: int64

In [8]:
# 2. Get the total drivers for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

urban_driver_count = urban_cities_df.groupby(["type"]).sum()["driver_count"]

suburban_driver_count = suburban_cities_df.groupby(["type"]).sum()["driver_count"]

rural_driver_count = rural_cities_df.groupby(["type"]).sum()["driver_count"]

print(urban_driver_count)
print(suburban_driver_count)
print(rural_driver_count)

type
Urban    59602
Name: driver_count, dtype: int64
type
Suburban    8570
Name: driver_count, dtype: int64
type
Rural    537
Name: driver_count, dtype: int64

In [10]:
#  3. Get the total amount of fares for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

urban_fare_count = urban_cities_df.groupby(["type"]).sum()["fare"]

suburban_fare_count = suburban_cities_df.groupby(["type"]).sum()["fare"]

rural_fare_count = rural_cities_df.groupby(["type"]).sum()["fare"]

print(urban_fare_count)
print(suburban_fare_count)
print(rural_fare_count)

type
Urban    39854.38
Name: fare, dtype: float64
type
Suburban    19356.33
Name: fare, dtype: float64
type
Rural    4327.93
Name: fare, dtype: float64

In [24]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["type"]).mean()["fare"]
suburban_avg_fare = suburban_cities_df.groupby(["type"]).mean()["fare"]
rural_avg_fare = rural_cities_df.groupby(["type"]).mean()["fare"]

print(urban_avg_fare)
print(suburban_avg_fare)
print(rural_avg_fare)

type
Urban    24.525772
Name: fare, dtype: float64
type
Suburban    30.970128
Name: fare, dtype: float64
type
Rural    34.62344
Name: fare, dtype: float64

In [ ]:
# 5. Get the average fare per driver for each city type. ???????????????????????????????????????????????????????????
urban_avg_fare = urban_cities_df.groupby(["type"]).mean()["fare"]
suburban_avg_fare = suburban_cities_df.groupby(["type"]).mean()["fare"]
rural_avg_fare = rural_cities_df.groupby(["type"]).mean()["fare"]

print(urban_avg_fare)
print(suburban_avg_fare)
print(rural_avg_fare)

In [25]:
#  6. Create a PyBer summary DataFrame. ????????????????????????????????????????????????????????????????????????????
pyber_summary = {"Total Rides": [("rural", rural_ride_count), ("suburban", suburban_ride_count), ("urban", urban_ride_count)]}
print(pyber_summary)

{'Total Rides': [('rural', type
Rural    125
Name: ride_id, dtype: int64), ('suburban', type
Suburban    625
Name: ride_id, dtype: int64), ('urban', type
Urban    1625
Name: ride_id, dtype: int64)]}

In [26]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

NameError: name 'pyber_summary_df' is not defined

In [ ]:
#  8. Format the columns. ?????????????????????????????????????????????????

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [50]:
# 1. Read the merged DataFrame
date_and_type_df = pyber_data_df.groupby(["type", "date"]).sum()[["fare"]]
date_and_type_df.head()

                            fare
type  date
Rural 2019-01-01 09:45:36  43.69
      2019-01-02 11:18:32  52.12
      2019-01-03 19:51:01  19.90
      2019-01-04 03:31:26  24.88
      2019-01-06 07:38:40  47.33

In [51]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
date_and_type_df = date_and_type_df.reset_index()

In [52]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.

date_and_type_pivot = date_and_type_df.pivot("date", "type", "fare")
date_and_type_pivot.tail(10)

type                 Rural  Suburban  Urban
date
2019-05-07 20:05:15    NaN       NaN  24.20
2019-05-07 20:22:19    NaN       NaN  18.74
2019-05-07 20:40:29    NaN     24.89    NaN
2019-05-08 01:54:18    NaN       NaN  32.69
2019-05-08 02:31:25    NaN       NaN  41.33
2019-05-08 04:20:00    NaN       NaN  21.99
2019-05-08 04:39:49    NaN       NaN  18.45
2019-05-08 07:29:01    NaN       NaN  18.55
2019-05-08 11:38:35    NaN       NaN  19.77
2019-05-08 13:10:18    NaN       NaN  18.04

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')